.box{
      border:2px solid red;
      /* background-color:red; */
      padding: 40px;
      margin:40px;
      width:100px;
      height: 100px;
      border-radius:100px;
      font-size: 50px;
      text-align:center;
}

.box:hover{
      background-color: red;
      color: red;
}

.box2{
      border:20px solid green;
      /* background-color:red; */
      padding: 40px;
      margin:40px;
      width:100px;
      height: 100px;
      border-top-right-radius:100px;
      border-bottom-right-radius: 100px;
      font-size: 50px;
      text-align:center;
}

.box3{
      border:20px solid blue;
      /* background-color:red; */
      padding: 40px;
      margin:40px;
      width:100px;
      height: 100px;
      border-top-right-radius:80px;
      border-top-left-radius: 80px;
      font-size: 50px;
      text-align:center;
}

.box4{
      border:20px solid orange;
      background-color: orange;
      /* background-color:red; */
      padding: 40px;
      margin:40px;
      width:100px;
      height: 100px;
      border-top-right-radius: 100px;
      border-bottom-left-radius:100px;
      font-size: 50px;
      text-align:center;
}

.box5{
      border:2px solid orange;
      /* background-color:red; */
      padding: 40px;
      margin:40px;
      width:100px;
      height: 100px;
      border-top-right-radius: 200px;
      border-top-left-radius:200px;
      font-size: 50px;
      text-align:center;
}